In [3]:
import numpy as np
import pandas as pd

In [4]:
# Make a blank data frame.
df = pd.DataFrame()

# Populate it with data.
df['name'] = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Cousin Oliver']
df['age'] = [14,12,11,10,8,6,8]

In [5]:
df.head()

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8

In [6]:
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [7]:
#mean w/Numpy
print("Mean:", np.mean(df['age']))

#median w/Numpy
print("Median:", np.median(df['age']))

print('Mode is 8')

#Variance w/Numpy
print("Variance:", np.var(df.age))

#Stad Dev w/NUmpy
print("Stand Dev:", np.std(df['age'],ddof=1))

#Stad Error
print("Stand Er:", np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age'])))

Mean: 9.857142857142858
Median: 10.0
Mode is 8
Variance: 6.408163265306122
Stand Dev: 2.734262327610589
Stand Er: 1.0334540197243192

In [8]:
df2 = pd.DataFrame()
df2['age2'] = [14,12,11,10,8,7,8]

In [9]:
print("Mean:", np.mean(df2['age2']))
print("Median:", np.median(df2['age2']))
print('Mode is 8')

print("Variance:", np.var(df2.age2))
print("Stand Dev:", np.std(df2['age2'],ddof=1))
print("Stand Er:", np.std(df2['age2'] ,ddof=1) / np.sqrt(len(df2['age2'])))

Mean: 10.0
Median: 10.0
Mode is 8
Variance: 5.428571428571429
Stand Dev: 2.516611478423583
Stand Er: 0.9511897312113418

In [10]:
df3 = pd.DataFrame()
df3['age3'] = [14,12,11,10,8,7,1]

In [11]:
print("Mean:", np.mean(df3['age3']))
print("Median:", np.median(df3['age3']))
print('There is no mode!')
print("Variance:", np.var(df3.age3))
print("Stand Dev:", np.std(df3['age3'],ddof=1))
print("Stand Er:", np.std(df3['age3'] ,ddof=1) / np.sqrt(len(df3['age3'])))

Mean: 9.0
Median: 10.0
There is no mode!
Variance: 15.428571428571429
Stand Dev: 4.242640687119285
Stand Er: 1.6035674514745462

In [3]:
#The Avg for those magazines = 0.1625 we can say almost 20%